body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.3rem; /* Increase padding for more space */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  /* align-items: center; */
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  justify-content: space-between; /* Space between input and button */
}

#input {
  border: none;
  padding: 0.3rem; /* Increase padding for more space */
  border-radius: 2rem;
  flex-grow: 1; /* Allow input to grow and fill available space */
  max-width: 80%; /* Allow input to take full width of the form */
  margin-left: 70px; /* Add margin to the right of the input */
  height: 2.2rem; /* Increase height */
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0.3rem 2rem; /* Increase padding for more space */
  border-radius: 3px;
  outline: none;
  color: #fff;
  height: 3rem; /* Match height with the input */
}

#messages {
  list-style-type: none;
  padding: 0;
  max-width: 500px; /* Restrict width */
  margin: auto;
}

#messages li {
  padding: 8px;
  margin-bottom: 10px;
  word-break: break-word; /* Prevent long words from breaking layout */
}

#messages li.question {
  text-align: right; /* Align questions to the right */
  background-color: #f1f1f1;
  border-radius: 10px;
  max-width: 400px; /* Restrict width of questions */
  margin-left: auto; /* Align questions to the right */
}

#messages li.answer {
  text-align: left; /* Align answers to the left */
  border-radius: 10px;
  max-width: 300px; /* Restrict width of answers */
  margin-right: auto; /* Align answers to the left */
}

#messages li.answer.correct {
  background-color: #d1ffd1;
}

#messages li.answer.incorrect {
  background-color: #ffd1d1;
}

.winner {
  font-weight: bold;
  margin: 10px 0;
}

.scores {
  margin-top: 10px;
}

.scores p {
  margin: 5px 0;
}

.question-container,
.answer-options {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  background: #f1f1f1;
  border-radius: 10px;
}

.answer-options {
  width: 450px; /* שים לב שזה ערך מותאם אישית, תוכל לשנות אותו לפי הצורך */
  margin: 0 auto; /* מרכז את התשובות */
}

.answer-options ul {
  list-style: none; /* מסיר את הסימונים מהשמאל */
  padding: 0;
  margin: 0;
}

.answer-options li {
  text-align: right; /* מיישר את הטקסט לימין */
  padding: 5px 10px; /* מוסיף ריפוד סביב התשובות */
  border-bottom: 1px solid #ddd; /* הוסף קו תחתון לכל תשובה */
  display: flex; /* מאפשר מיקום התווית והטקסט בשורה אחת */
  justify-content: space-between; /* מפזר את התווית ואת הטקסט בקצוות השורה */
}

.answer-options li:last-child {
  border-bottom: none; /* מסיר את הקו התחתון מהתשובה האחרונה */
}

.answer-options .label {
  margin-right: 10px; /* מרווח בין התווית לבין התשובה */
}
