.song-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.audio-player {
  max-width: 300px;
  /* Smaller width */
  padding: 12px;
  /* Reduced padding */
  border-radius: 10px;
  /* Smaller border radius */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* Lighter shadow */
  margin: auto;
  position: relative;
}

.audio-player .rhap_progress-section {
  height: 4px;
  /* Smaller progress bar height */
}

.audio-player .rhap_progress-bar {
  height: 4px;
  /* Smaller progress bar height */
}

.audio-player .rhap_controls-section {
  height: 40px;
  /* Adjust controls height */
}

.audio-player .rhap_main-controls-button {
  padding: 5px;
  /* Smaller control button padding */
}

.audio-controls {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  /* Reduced margin */
}

.audio-controls button {
  background: var(--active-color);
  color: var(--white);
  border: none;
  padding: 5px 10px;
  /* Smaller button padding */
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
  position: absolute;
  bottom: -20px;
  /* Adjust position of controls */
}

.audio-controls button:hover {
  background: #00838f;
}

.audio-controls button:focus {
  outline: none;
}

.title {
  font-weight: 700;
  margin-bottom: 4px;
}

.artist {
  font-weight: 300;
  margin-top: 0;
}

.rhap_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: inherit;
  width: 93%;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  margin-left: 58px;
  margin-bottom: 1%;

}